{{#paper-dialog onClose=cancel clickOutsideToClose=true}}

  {{#paper-dialog-content}}
    {{#if ride.children}}
      {{#paper-card as |card|}}
        {{#card.content}}
          Cancelling a ride with rides combined into it will cause the combined rides to also disappear. Uncombine them if this is undesirable.
        {{/card.content}}
      {{/paper-card}}
    {{/if}}

    <h2 class='md-title'>Cancel a ride</h2>

    {{#paper-form onSubmit=save as |form|}}
      <div class='layout layout-sm-column'>
        {{#each-in shortcutReasonToIcon as |reason icon|}}
          {{#paper-button raised=true
                          class='shortcut'
                          onClick=(action 'cancelViaShortcut' reason)}}
            {{paper-icon icon}}
            {{reason}}
          {{/paper-button}}
        {{/each-in}}
      </div>

      <hr>

      <div class='layout layout-sm-column'>
        {{#paper-checkbox
          value=ride.cancelled
          onChange=(action 'cancelledChanged')}}
          Cancelled?
        {{/paper-checkbox}}
      </div>

      <div class='layout layout-sm-column'>
        {{#paper-select
          class='reason'
          placeholder='Reason'
          selected=ride.cancellationReason
          options=reasons
          onChange=(action (mut ride.cancellationReason))
          as |reason|}}
          {{reason}}
        {{/paper-select}}
      </div>

      {{form.input class='other'
                   label='Other reason'
                   value=ride.cancellationReason
                   onChange=(action (mut ride.cancellationReason))}}

    {{/paper-form}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class='layout-row'}}
    {{#paper-button class='cancel' onClick=cancel}}Cancel{{/paper-button}}
    {{#paper-button class='submit' primary=true onClick=save}}Save{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
