{{#if person}}
  <span class='ride-person'>
    {{person-badge person=person property=property clear=(action 'clear')}}
  </span>
{{else}}
  {{#paper-select
    selected=person
    options=people
    onChange=onChange
    allowClear=true
    matcher=(action 'match')
    as |person|}}
    {{person.name}}
  {{/paper-select}}
{{/if}}
