@import '@hashicorp/design-system-components';
@import "ember-power-select";

$primary: indigo;
$primary-color: indigo;
$dark-contrast-color: black;
$light-contrast-color: rgba(0, 0, 0, 0.12);
$color-indigo: indigo;
$color-pink: pink;

@import 'ember-power-calendar';

@import 'loading';

@import 'calendar';
@import 'statistics';

@import 'log';
@import 'toast';

body {
  --token-app-header-height: 20px;

  max-width: 100%;
  max-height: 100%;

  font-family: var(--token-typography-body-200-font-family);
  font-size: var(--token-typography-body-200-font-size);
  line-height: var(--token-typography-body-200-line-height);

  margin: 0;
}

body.ember-application {
  flex-direction: row;
  flex: 1;
  display: flex;
}

.hds-app-frame__main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.hds-app-header, .hds-app-header .header-toggle .hds-button {
  background: #00194d;
}

.hds-app-header__actions h2 {
  margin: 0;
}

.hds-dialog-primitive__dismiss {
  align-self: center;
}

body > div.ember-view {
  flex-direction: row;
  flex: 1;
  display: flex;
}

.app-frame {
  width: 100%;
}

.header-toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.header-toggle-badge {
  position: absolute;
  top: -1em;
  right: -1rem;
}

/* TODO why? */
.hds-advanced-table__tbody {
  padding-top: 41px;
}

.rides-filters {
  align-items: center;
  gap: 16px;
  margin: 1rem;
}

#ride-form-timespan {
  resize: none;
}

.site-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

md-toolbar {
  md-chips {
    margin-left: 1rem;

    .md-chips.md-chips {
      box-shadow: none;
    }
  }

  .count {
    border-radius: 10px;
    background: white;
    color: paper-color($color-indigo, '600');
    font-size: 50%;
    text-align: center;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 32px;
  }
}

md-sidenav {
  width: 150px;
  background-color: paper-color($color-indigo, '600');

  md-content.md-default-theme, md-list {
    background: transparent;

    padding: 0;
  }

  .md-list-item-inner {
    padding: 0;
    align-items: stretch;
  }

  md-list-item a, md-list-item.session .md-button {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 100%;

    text-decoration: none;
    color: white;
    white-space: nowrap;

    &:hover {
      background-color: paper-color($color-indigo, '200');
    }

    &.active {
      background-color: paper-color($color-indigo, '400');
    }

    .md-list-item-inner {
      align-items: center;
    }
  }

  .rides, .users, .log {
    display: flex;
    width: 100%;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    .count {
      border-radius: 10px;
      background: white;
      color: paper-color($color-indigo, '600');
      font-size: 50%;
      text-align: center;
      width: 10px;
      height: 10px;
    }
  }
}


table.rides tr {
  td, th {
    border-left-style: none;
    border-right-style: none;
  }

  .date-cell {
    .paper-icon {
      visibility: hidden;
      cursor: pointer;
    }

    &:hover .paper-icon {
      visibility: visible;
    }
  }

  &:has(+ .no-top-border) {
    td {
        border-bottom-style: none;
    }
  }

  &.no-top-border {
    td {
      border-top-style: none;
    }
  }

  &.enabled {
    opacity: 1;

    &+.notes {
      opacity: 1;
    }
  }

  &.uncombinable {
    opacity: 0.5;
  }

  &.overlaps {
    background-color: pink;
  }

  md-input-container {
    margin: 18px 0 0;
  }

  .assignments {
    display: flex;
    gap: 1rem;
  }

  &.combined {
    .date, .institution {
      color: rgba(0, 0, 0, 0.5);
    }

    td {
      border-top: 0;
    }
  }

  &.divider td {
    border-top: 2px solid black;
  }
}

.hds-table__tbody .hds-table__tr.highlighted {
  background-color: pink;
}

.search {
  button {
    position: absolute;
    right: 0;
    min-width: inherit;
    padding: 0;
    margin: 0;
  }

  margin-right: 1rem;
  margin-bottom: 0;
}

.rides table {
  .notes, .report, .overlap {
    td {
      border-top: 0;
    }
  }

  .report .distance::after {
    content: ' km';
  }
}

.medium-row md-radio-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

md-table-container.debts .person .name {
  font-weight: bold;
}

.form-container {
  padding: 16px;
}

.switch-container {
  padding: 16px;
}

.ride-person {
  display: inline-block;
  background-color: #e0e0e0;
  color: #424242;
  border-radius: 16px;
  padding: 5px;

  md-icon {
    transform: translate(2px, -2px);
    padding-right: 2px;
  }

  .remove-container {
    button {
      text-align: center;
      min-width: 0;
      padding: 0;
      background: transparent;
      border: none;
      box-shadow: none;
      margin: 0;
    }
  }

  &+.ride-person {
    margin-left: 5px;
  }

  .name-container {
    cursor: pointer;
  }
}

.person-badge {
  cursor: pointer;
  font-size: 13px;

  padding-right: 1.5rem;

  position: relative;
  display: flex;
  flex-direction: column;

  .clear {
    position: absolute;
    top: 0.15rem;
    right: -0.25rem;
    padding: 0;
    min-height: auto;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;

    &:hover span {
      text-decoration: underline;
    }
  }

  .row {
    display: flex;
    gap: 0.125rem;
    svg {
      transform: scale(0.75);
      margin-top: 1px;
    }
  }
}

.person {
  .is-preferred {
    font-weight: bold;
  }
}

.name-and-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-radio {
  align-items: center;
}

md-table-container.reimbursements {
  .month {
    font-weight: bold;
  }
}

md-table-container {
  .copy-btn {
    border: 0;
    background: transparent;
  }
}

md-toast {
  position: fixed;
}

.unit {
  display: inline-block;
  transform: translateY(-2px);
  font-size: 60%;
}

md-option[aria-current] {
  font-weight: bold;
}

/* ng-enter is mysteriously present with pnpm migration, but is its original opacity: 0 ever needed? */
md-backdrop.md-opaque.ng-enter {
  opacity: 0.48;
}

.hds-modal input, #ride-search-input {
  box-sizing: border-box;
}
