@import 'color-palette';

$primary: 'indigo';

@import 'ember-paper';
@import 'paper-data-table';

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: scroll;
}

md-toolbar {
  md-chips {
    margin-left: 1rem;

    .md-chips.md-chips {
      box-shadow: none;
    }
  }
}

md-sidenav {
  width: 150px;
  background-color: color($color-indigo, '600');

  md-content.md-default-theme, md-list {
    background: transparent;

    padding: 0;
  }

  .md-list-item-inner {
    padding: 0;
    align-items: stretch;
  }

  md-list-item a, md-list-item .session {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 100%;

    text-decoration: none;
    color: white;

    &:hover {
      background-color: color($color-indigo, '200');
    }

    &.active {
      background-color: color($color-indigo, '400');
    }
  }
}

.rides table .ride {
  opacity: 0.5;

  &.enabled {
    opacity: 1;
  }

  &.uncombinable {
    opacity: 0.5;
  }

  md-input-container {
    margin: 18px 0 0;
  }
}

md-table-container.debts .person .name {
  font-weight: bold;
}

.form-container {
  padding: 16px;
}

.switch-container {
  padding: 16px;
  display: flex;
}

.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(359deg);}
}

.ember-load-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;

  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
