.statistics-card {
  display: block;

  md-card-content {
    display: flex;
    justify-content: space-between;
  }

  .inputs {
    .md-errors-spacer {
      display: none;
    }

    md-input-container {
      margin-bottom: 0;
    }
  }

  .buttons {
    display: flex;
  }
}

.request-time-chart svg rect {
  stroke-width: 0;
}
