{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav lockedOpen="gt-sm"
    open=isSidenavOpen onToggle=(action (mut isSidenavOpen))}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item}}
          {{#link-to 'application'}}<span>Home</span>{{/link-to}}
        {{/paper-item}}
        {{#paper-item}}
          {{#link-to 'rides'}}<span>Rides</span>{{/link-to}}
        {{/paper-item}}
        {{#paper-item}}
          {{#link-to 'reports.new'}}<span>Report</span>{{/link-to}}
        {{/paper-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <main>
    {{outlet}}
  </main>
{{/paper-sidenav-container}}
