<div class='person-session'>You are logged in as {{person.email}}</div>

{{#power-calendar daysComponent='calendar-days' as |calendar|}}
  {{calendar.nav}}

  {{#calendar.days showDaysAround=false as |day|}}
    {{calendar-day day=day slots=slots person=person}}
  {{/calendar.days}}
{{/power-calendar}}
