{{#paper-dialog}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2 class='md-title'>Register</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-form onSubmit=(action 'register') as |form|}}
    {{#paper-dialog-content}}
      {{#if error}}
        {{#paper-card class='error' as |card|}}
          {{#card.content}}{{error}}{{/card.content}}
        {{/paper-card}}
      {{/if}}
      <div class='layout layout-row'>
        {{form.input class='email' type='email' label='Email' autofocus=true value=model.email onChange=(action (mut model.email))}}
      </div>
      <div class='layout layout-row'>
        {{form.input class='password' type='password' label='Password' value=model.password onChange=(action (mut model.password))}}
      </div>
      <div class='layout layout-row'>
        {{form.input class='password-confirmation' type='password' label='Password confirmation' value=model.passwordConfirmation onChange=(action (mut model.passwordConfirmation))}}
      </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class='layout-row'}}
      <div class='layout layout-row'>
        {{#form.submit-button class='submit register' primary=true raised=true onClick=(action 'register')}}Register{{/form.submit-button}}
        {{#paper-button href='/login' class='flex-order--1'}}Log in{{/paper-button}}
      </div>
    {{/paper-dialog-actions}}
  {{/paper-form}}
{{/paper-dialog}}
